**/.idea/*
!**/.idea/dictionaries/
**/.idea/dictionaries/*
!**/.idea/dictionaries/vitral.xml
master.iml
.gradle/
.gradle-home/
build/
**/build/

classes/*
lib/*
bin/*
tmp/*
pkgs/LempelZivWelch/bin/
pkgs/LempelZivWelch/classes/
pkgs/LempelZivWelch/tmp/
pkgs/NativeImageReader/bin/
pkgs/NativeImageReader/classes/
pkgs/NativeImageReader/tmp/
pkgs/SpharmonicKit27/bin/
pkgs/SpharmonicKit27/classes/
pkgs/SpharmonicKit27/tmp/

# testsuite generated assets
testsuite/**/output/
testsuite/**/*.ppm
testsuite/**/*.jpg
testsuite/**/*.bmp
testsuite/_APITests/_JOGL2HelloWorld/doc/javadoc/
.codex
hs_err_pid*.log
