.idea
master.iml
.gradle/
.gradle-home/
build/
**/build/

classes/*
lib/*
bin/*
tmp/*
pkgs/LempelZivWelch/bin/
pkgs/LempelZivWelch/classes/
pkgs/LempelZivWelch/tmp/
pkgs/NativeImageReader/bin/
pkgs/NativeImageReader/classes/
pkgs/NativeImageReader/tmp/
pkgs/SpharmonicKit27/bin/
pkgs/SpharmonicKit27/classes/
pkgs/SpharmonicKit27/tmp/
gradle/wrapper/gradle-wrapper.jar

# testsuite generated assets
testsuite/**/output/
testsuite/**/*.ppm
testsuite/**/*.jpg
testsuite/**/*.bmp
.codex
hs_err_pid*.log
